{% extends "base.html" %}

{% block title %}
  <title>Dish list</title>
{% endblock %}

{% block content %}
  <h1>All available dishes
    <a href="{% url 'kitchen:dish-create' %}" 
       class="link-primary link-underline-opacity-0">
      +     
    </a>
  </h1>
  {% if dish_list %}
    <div class="list-group mt-2 mb-2 w-50">
    {% for dish in dish_list %}
      <a href="{% url 'kitchen:dish-detail' pk=dish.id %}"
         class="list-group-item list-group-item-action"
         aria-current="true"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ dish.name }}</h5>
          <small>id: {{ dish.id }}</small>
        </div>
        <p class="mb-1">{{ dish.dish_type }}</p>
        <small>{{ dish.price }}UAH</small>
      </a>
    {% endfor %}
    </div>
  {% else %}
    <h3>There are no dishes yet.</h3>
  {% endif %}
{% endblock %}
